@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@300;400;700&display=swap');

/* footer */
.footer {
  background-color: #465952;
  color: #fff;
  position: relative;
  font-family: 'LXGW WenKai Mono TC', monospace;
  z-index: 4;
}

.footer li {
  list-style-type: none;
}

.footer:before,
.footer:after {
  content: '';
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background: #e6e6e6;
}
.footer:before {
  top: 10px;
}
.footer:after {
  bottom: 10px;
}

#backToTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
  z-index: 5;
}
