@keyframes horizontal-shaking {
  0% { transform: translateX(0); }
  25% { transform: translateX(5px); }
  50% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.faPenToSquare {
  color: blue;
}

.faPenToSquare:hover {
  animation: horizontal-shaking 0.4s;
}

.faTrash {
  color: red;
}

.faTrash:hover {
  animation: horizontal-shaking 0.4s;
}
.PayButton {
  margin-top: 7px;
}
.renderRowPanel {
  background-color: rgb(226, 227, 175);
  margin: auto;
}
.getTableList {
  margin-left: 150px;
}