.orderContainer {
  background: url('/images/product/bg/mudan.webp') no-repeat center center fixed;
  background-size: cover;
  padding: 20px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.transparentBg {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
}

.addressButtons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.addressSection {
  margin-bottom: 20px;
}

.addressDetails {
  background-color: #fff3e0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formGroup {
  margin-bottom: 15px;
}

.formLabel {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.summarySection {
  margin-top: 20px;
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.customBtn {
  display: inline-block;
  font-weight: 600;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #ff6600;
  border: 1px solid #ff6600;
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  width: 100%;
}

.customBtn:hover {
  background-color: #e65c00;
  border-color: #e65c00;
}
.customBtn1 {
  display: inline-block;
  font-weight: 600;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #ff6600;
  border: 1px solid #ff6600;
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  width: 40%;
}

.customBtn1:hover {
  background-color: #e65c00;
  border-color: #e65c00;
}
